@font-face {
    font-family: 'EB-b';
    src: url('../assets/fonts/ElleBaskerville-Bold.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'EB-b-i';
    src: url('../assets/fonts/ElleBaskerville-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'EB-i';
    src: url('../assets/fonts/ElleBaskerville-Italic.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'EB-sb';
    src: url('../assets/fonts/ElleBaskerville-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'EB-sb-i';
    src: url('../assets/fonts/ElleBaskerville-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'EB';
    src: url('../assets/fonts/ElleBaskerville.woff2') format('woff2'),
        url('../assets/fonts/ElleBaskerville.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}