.news {
    .container-fluid {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;

        .menu__aside {
            &-block {
                top: 100%;
                transform: translateY(-100%);
            }
        }

        .share {

            &__logo,
            &__text {
                color: $white-cl;
            }

            svg {
                fill: $white-cl;
            }
        }
    }

    &__bg {
        height: 50vh;
    }

    &__header {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
        margin-top: -20rem;
        z-index: 2;

        &-line,
        &>h2 {
            grid-column: 1/13;
        }

        &>h2 {
            color: $white-cl;
            margin-bottom: 1rem;
        }

        &-line {
            margin-bottom: 6rem;
            background-color: $white-cl;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
        position: relative;
        z-index: 2;

        &-wrap {
            grid-column: 1/13;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6rem 2.5rem;
            margin-bottom: 4rem;

            .card {
                &:hover {
                    .card {
                        &__body {
                            background-color: $card-body-cl;
                            @include transition(200ms);

                            &-heading {
                                &>a {
                                    color: $white-cl;
                                    @include transition(200ms);
                                }
                            }

                            &-desc {
                                &>p {
                                    color: $white-cl;
                                    @include transition(200ms);
                                }
                            }

                            &-view {
                                a {
                                    color: $white-cl;
                                    @include transition(200ms);
                                }

                                svg {
                                    fill: $white-cl;
                                    @include transition(200ms);
                                }
                            }
                        }

                    }
                }

                &__body {
                    padding: 0 1.5rem;
                    @include transition(200ms)
                }
            }
        }

        &-pagination {
            grid-column: 2/12;
            text-align: center;
            margin-bottom: 8rem;
        }
    }
}

// 1200
@include md {
    .news {
        &__bg {
            height: 30vh;
        }

        &__body {
            &-wrap {
                grid-template-columns: repeat(2, 1fr);
            }


        }
    }
}

// 991
@include sm {
    .news {
        .menu__aside {
            &-block {
                display: none;
                top: 100%;
                transform: translateY(-100%);
            }
        }

        &__body {
            &-wrap {
                grid-template-columns: repeat(1, 1fr);
            }


        }
    }
}

// 576
@include xxs {
    .news {
        &__bg {
            height: 40vh;
        }

    }
}